# Core APIs
fastapi
uvicorn
python-dotenv
requests
beautifulsoup4
pillow
python-multipart

# Vision
opencv-python
ultralytics==8.3.130

# Audio + Voice
gtts
pywhatkit
SpeechRecognition
pydub
playsound==1.2.2


# Deep learning (compatible with DeepFace)
tensorflow==2.12.0
torch
deepface==0.0.93

# Optional: Smoother cloud installation
setuptools

